
.app {
    background-color: rgb(48, 71, 92);
    color: beige;
    /* background: rgb(111,146,193);
    background: linear-gradient(160deg, rgba(111,146,193,1) 36%, rgba(1,21,51,1) 100%); */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Montserrat,sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
  }
