.header {
    background-image: linear-gradient(to right bottom, #688fc9, #5b89ce, #4d83d2, #3e7dd6, #2b77da);   
    width: 400px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 15px;
    -webkit-box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.31);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}